$ws : whitesmoke;
$azul : #2079c7;
$bgb : #140c00;
$gris : gray;

body {  
    background-color: $bgb;
    background-image: url("../images/cubes.png");
    font-family: 'Open Sans', sans-serif;
}
img {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    border: inset;
    margin-bottom: 2%;
}
p {
    color: $ws;
    text-align: center;
    padding: 0 5%;
}
div{
    margin: auto 2%;

    i {
        color: $gris;
    }
}

div{
    text-align: center;
    margin: auto auto;
    h1 {
        font-family: 'Merriweather Sans', sans-serif;
        color: $ws;
        font-weight: bolder;
        font-size: 6vw;
    }
    h3 {
        font-family: 'Monoton', cursive; 
        color: $azul;
        font-size: 4vw;
    }
}
a {
    color: $gris;
}
form {
    background-color: $bgb;
    padding: 4%;
    border: inset;
    margin-bottom: 2%;
    label{
        color: gray;
        padding: 4%;
    }
    .btn {
        color: $ws;
        background-color: $azul;
    }
    .btn:active {
        background-color: $gris;
    }
}
.center-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.bottom {
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}

section {
    color: $ws;
}
.tech i {
    color: $ws;
}

ul {
    margin-top: 1.5%;
}

a:hover {
    color: $azul;
}

a:active{
    color:$ws;
}
a i:hover {
    color: $azul;
}

main {
    background-color: $bgb;
    padding: 4%;
    border: inset;
    margin-bottom: 2%;
    section {
        padding: 2%;
        p {
            font-style: italic;
        }
        span {
            color: $gris;
        }
    }
    h4 {
        color: $azul;
        font-weight: bold;
    }
    
}
@media only screen and (max-width: 1500px) {
    .projectMain {
        margin-left: 10%;
        margin-right: 10%;
    }
}
// @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) 

@media only screen and (max-width: 1300px) {
    /* default iPad screens */
    body {  
        background-color: $bgb;
        main {
            border: none;
            background-image: url("../images/cubes.png");
            font-size: 2vw;
        }
        .header, .smTxt {
            font-size: 4vw;
        }

        form {
            border: none;
            background-image: url("../images/cubes.png");
            font-size: 3vw;
        }
        a, i {
            font-size: 3vw;
        }
    }
 }

@media screen and (max-width: 500px) {
    /* styles for mobile browsers smaller than 500px; */
    body {  
        background-color: $bgb;
        main {
            border: none;
            background-image: url("../images/cubes.png");
            font-size: 4vw;
        }
        .header, .smTxt {
            font-size: 4vw;
        }

        form {
            border: none;
            background-image: url("../images/cubes.png");
            font-size: 4vw;
        }
        a, i {
            font-size: 4vw;
        }
    }
    
}

